/* styles.scss */

/* Importação da fonte Creepster do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* Estilos globais */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Creepster', Roboto, "Helvetica Neue", sans-serif;
}
